html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear{
    clear:both;
}
.header{

    background-color: #a9d08d;
}

.icon{
    height: 70px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
    float: left;
}
.title{
    float:left;
    font-size:24px;
    color:white;
    font-weight: 700;
    margin-top:40px;
    margin-left:30px;
}
.title a{
    text-decoration: none;
    color: white;
}
.login a{
    text-decoration: none;
    color: white;

}
.login{
    padding:6px 9px;
    float: right;
    margin: top 35px;
    margin-right:60px;
    font-size:24px;
    background-color: rgb(123, 190, 75);
    border-radius:7px;
    color:white;
    border:none;
    margin-top:30px;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 15%);
}
.slogan{
    float: right;
    margin-top:40px;
    margin-right:20px;
    font-size:24px;
    color:white;
    font-weight: 600;
}
.content{
    padding-top:15px;
}
.list{
    margin-top:10px;
    float: left;
    margin-left:60px;

}
.list a{
    text-decoration: none;
    color:white;
    display: block;
}
.list ul{

    background-color: #a9d08d;
}
#lastLi{
    border:none;
}
.list li{
    display: block;
    width: 160px;
    color:white;
    font-size:20px;
    font-weight: 400;
    padding:20px 30px;
    border-bottom:#007500 solid 2px;
    cursor:pointer;
}
.list ul li:hover{
    background-color: #e2f0d9;
    color:#007500;
}
.list a:hover{
    background-color: #e2f0d9;
    color:#007500;
}
.mainContent{
    float: left;
    padding-top: 10px;
    padding-left: 30px;
    width:75%;
    padding-bottom: 80px;
}
.member{
    display:none;
    background-color: #e2f0d9;
    color:#007500;
}
.member li a{
    color:#007500;
    display: block;
}
.reviewShop{
    display:none;
    background-color: #e2f0d9;
    color:#007500;
}
.reviewShop li a{
    color:#007500;
    display: block;
}
.reviewHotel{
    display:none;
    background-color: #e2f0d9;
    color:#007500;
}
.reviewHotel li a{
    color:#007500;
    display: block;
}
#memberInfoModify{
    border-top:#007500 solid 2px;
}
.list img{
    width:16px;
    margin-left:50px;
}

/* icon */
.crud-btn{
    border-radius: 7px;
    background-color: #007500;
    padding: 10px 12px;
    font-size: 14px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.w-5{
    width:30px;
    position: relative;
    top:7;
}

.flex-1 {
    visibility: hidden;
}
.hidden p{
    visibility: hidden;
}
.shadow-sm a{
    text-decoration:none;
    margin:5px;
    font-size:20px;
    color: rgb(123, 190, 75);
}
.shadow-sm span{
    margin:5px;
    font-size:20px;
    color: #007500;
}
.shadow-sm{
    margin-left: 350px;
}
/* error message */
.text-danger{
    color: red;
}
.alertalert-danger{
    color: red;
}
.alert{
    color: red;
}

